html {
    height: 100%;
    width: 100%;
    background-color: #212121;
  }
.selfie{border-radius: 200px;
          display: block;
          margin-left: auto;
          margin-right: auto;   
        }
h1{ text-align: center;
    font-size:45px ;
    color:white;}
h3{font-size: 30px;
  text-align: center;
  transform: translate(15px,0px);
color:white;



}
 
p{font-size: 20px;
    padding: 10px;
    margin:10px ;
    color:white;
    border-radius: 10px;
 background-image:linear-gradient(rgb(93, 93, 93), #46037a)
}
.border{background-color: rgb(93, 93, 93);
border-radius: 25px;
border-style: solid;
margin: 25px;
}
.navbar{
  right: 0;
  display:inline;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  z-index: 1;
}

.setup{
  border-radius: 20px;
  margin-left: auto;
  display: block; 


}
.images{
 margin: 30px;


}
a:link {
  color: white;}
  a:visited{
    color: lightblue;
}

button{ 
  color: white;
  border-radius: 20px;
background-color: #46037a;
}

button:visited{
  color: lightblue;
}