html {
    height: 100%;
    width: 100%;
    background-color: #212121;
  }
.selfie{border-radius: 200px;
          display: block;
          margin-left: auto;
          margin-right: auto;   
        }
h1{ text-align: center;
    font-size:45px ;
    color:white;}
h3{font-size: 30px;
  text-align: center;
color:white;



}
 
p{font-size: 20px;
    padding: 10px;
    margin:10px ;
    color:white;
    border-radius: 10px;
 background-image:linear-gradient(rgb(93, 93, 93), #46037a)
}
.border{background-color: rgb(93, 93, 93);
border-radius: 25px;
border-style: solid;
margin: 25px;
}
.navbar{
  right: 0;
  display:inline;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  z-index: 1;
}
.hike{
  border-radius: 20px;
  margin: 10px;
  display: block;
}
.setup{
  margin-left: auto;
  border-radius: 20px;

margin: 10px;


}
.images{
text-align: center;
display: flex;
justify-content: center
;


}
a:hover {color: #7829FC;}
a {color: white;; text-decoration: none;}



button{ 
  color: white;
  border-radius: 20px;
background-color: #46037a;
}

button:visited{
  color: lightblue;
}
